<footer class="site-footer bp0-med-padding" role="contentinfo">
    <div class="container footer__upper-part">
        <div class="footer__section ">
            <a class="footer__sitra-link" href="https://www.sitra.fi/" target="_blank">
                <img class="footer__sitra-logo site-title__logo" src="https://www.sitra.fi/app/themes/sitra/assets/images/logo-sitra.svg">
            </a>
        </div>
        <div class="some-channels footer__section grid-wrap">
            <h3 class="h2 grid-col bp0-col-full footer-section__title">{{ "CHANNELS" | translate }}</h3>
            <a href="https://twitter.com/sitrafund" class="some-channel grid-col bp0-col-full bp1-col-one-half bp3-col-one-third" target="_blank">
                <span class="some-channel__icon btn btn__icon btn__has-icon icon icon-twitter"></span>
                <span class="some-channel__label smallcaps">twitter</span>
            </a>
            <a href="https://www.facebook.com/SitraFund/" class="some-channel grid-col bp0-col-full bp1-col-one-half bp3-col-one-third" target="_blank">
                <span class="some-channel__icon btn btn__icon btn__has-icon icon icon-facebook"></span>
                <span class="some-channel__label smallcaps">facebook</span>
            </a>
            <a href="https://www.linkedin.com/company/sitra" class="some-channel grid-col bp0-col-full bp1-col-one-half bp3-col-one-third" target="_blank">
                <span class="some-channel__icon btn btn__icon btn__has-icon icon icon-linkedin"></span>
                <span class="some-channel__label smallcaps">linkedin</span>
            </a>
            <a href="https://www.youtube.com/user/sitrafund" class="some-channel grid-col bp0-col-full bp1-col-one-half bp3-col-one-third" target="_blank">
                <span class="some-channel__icon btn btn__icon btn__has-icon icon icon-youtube"></span>
                <span class="some-channel__label smallcaps">youtube</span>
            </a>
            <a href="https://www.instagram.com/sitrafund" class="some-channel grid-col bp0-col-full bp1-col-one-half bp3-col-one-third" target="_blank">
                <span class="some-channel__icon btn btn__icon btn__has-icon icon icon-instagram"></span>
                <span class="some-channel__label smallcaps">instagram</span>
            </a>
            <a href="https://www.slideshare.net/SitraFund/" class="some-channel grid-col bp0-col-full bp1-col-one-half bp3-col-one-third" target="_blank">
                <span class="some-channel__icon btn btn__icon btn__has-icon icon icon-slideshare"></span>
                <span class="some-channel__label smallcaps">slideshare</span>
            </a>
        </div>
        <div class="footer__contact-info footer__section  grid-wrap large-gutter">
            <h3 class="h2 grid-col bp0-col-full footer-section__title">{{ "CONTACT_US" | translate }}</h3>
            <div class="grid-col bp0-col-full bp2-col-one-half footer__contact-info__text">
                <p>
                    {{ "SITRA_NAME" | translate }}
                    <br> {{ "SITRA_ADDRESS" | translate }}
                    <br> {{ "SITRA_ADDRESS_ZIP" | translate }}
                </p>
                <p>
                    {{ "PHONE" | translate }} {{ "SITRA_PHONE" | translate }}
                    <br *ngIf="translate.currentLang === 'en'"><span *ngIf="translate.currentLang === 'en'">{{ "FAX" | translate }} {{ "SITRA_FAX" |translate }}</span>
                    <br> {{ "EMAIL" | translate }} {{ "SITRA_EMAIL" | translate }}
                </p>
                <p *ngIf="translate.currentLang === 'fi'">
                    <a href="{{ 'WELCOME_TO_SITRA' | translate }}">
                        {{ "ROUTE_GUIDE" | translate }}
                    </a>
                </p>
                <p>{{ "SITRA_BUSINESS_ID" | translate }}</p>
            </div>
            <div class="grid-col bp0-col-full bp2-col-one-half footer__contact-info__map">
                <iframe class="google-maps__iframe" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCmAtJf9XY2Ds7g-WSDCCTPSb34utZhWY4&amp;q=Itämerenkatu 11-13, 00180 Helsinki, Finland&gt;&amp;zoom=17" allowfullscreen="">
                </iframe>
            </div>
        </div>
    </div>
    <div class="text-align-center footer__lower-part">
        <a class="footer__link spacy-underline" href="https://www.sitra.fi/kayttoehdot/">{{ "TERMS_OF_USE" | translate }}</a>
    </div>
</footer>
