.search-bar-wrapper {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s opacity;

    input {
        display: none;
    }

    &.active {
        opacity: 1;
        visibility: visible;

        input {
            display: inherit;
        }
    }
}

.language-selector {
    li {
        cursor: pointer;
    }
}

.language-selector-mobile-container {
    transition: 0.25s opacity;
    visibility: hidden;
    display: block;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.nav {
    &.active {
        ::ng-deep .main-navigation-wrapper {
            opacity: 1;
            z-index: 9999;
        }
    }
}
